*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color:black;
}

/* NAV */
.header__menu{
    display: flex;
    background-color: black;
    font-family: 'Oswald', sans-serif;
    border: solid 0.1rem #000;
    margin: 0%;
}
.header__menu h1{
    color: white;
    display: flex;
    float: left;
    margin: 1.5rem 0rem 1.5rem 7rem;
}
.header__menu img{
    width: 3%;
    height: 3%;
    margin: 2% 0% 0% 0%;
}
.header__menu ul{
    display: flex;
    list-style: none;
    margin: 0%;
}
.header__menu li{
    font-size: 1.2rem;
    margin: 2rem 1rem 2rem 7.5rem;
}
.header__menu a{
    text-decoration: none;
    color: white;
} 
.header__menu:hover{
    background-color:rgb(64, 165, 64) ;
}

/* MAIN */

.titulo h2{
    font-family: sans-serif;
    color: rgb(47, 202, 47);
    margin: 7% 0% 0% 12%;
}

.img img{
    width: 40%;
    height: 20%;
    background-position: center;
    margin: 1rem 0rem 0rem 30%;
}

.ofertas__h2{
    color:rgb(47, 202, 47);
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    margin: 7% 0% 0% 8%;
    
}
.cintenedor-alk{
    height: 5%;
    width: 10%;
}
.contenedor-img img{
    width: 20%;
    height: 10%;
    margin: 10% 2%;
}

/*Footer*/
.pie-pagina{
    width: 100%;
    background-color: rgb(47, 202, 47);
}

.grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: 20% 0% 0% 0%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    padding: 1rem 0rem 0rem 0rem ;
}
.grupo-1 img{
    width: 40%;
    height: 60%;
    margin: 4% 0% 8% 40%;
}
.grupo-2 h2{
    color: white;
}
.marcas-gpu{
    margin: 10% 0%;
    background-color: black;
width: 100%;
height: 17rem;
}
.marcas-gpu img{
    margin: 5% 5%;
    height: 50%;
    width: 20%;
}
.marcas-gpu:hover{
    background-color: rgb(64, 165, 64) ;
}

.Placas{
    background-color: black;
}
.Placas h2{
    color: rgba(255, 217, 0, 0.664);
    font-family: familia de fuentes: 'Anton', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 5% 5%;
}

.Placas img{
    margin: 5%;
    height: 13%;
    width: 14%;
}
.Rigs{
    background-color:black;
}

.Rigs h2{
    color: rgba(255, 217, 0, 0.664);
    font-family: familia de fuentes: 'Anton', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 5% 5%;
}

.Rigs img{
    margin: 5% 8%;
    height: 30%;
    width: 30%;
}
.Datos{
    margin: 5%;
    padding: 0%;
}
.Datos h2{
    margin: 3% 0%;
    text-align:center;
    background-color:black;
    color: white;
    font-size: 150%;
    font-family:familia de fuentes: 'Anton', sans-serif; 
}
.Datos p{
    font-size: 120%;
    color: rgb(0, 0, 0);
    background-color:rgb(64, 165, 64);
}
.redes{
    margin: 0%;
    width: 100%;
    max-width: 1200px;
    margin: 20% 0% 0% 0%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 50px;
}

.sociales img{
    width: 10%;
    height: 10%;
}
.sociales h2{
    color: white;
}
.distin{
    font-size: 200%;
    font-family: fantasy;
}
.grid-placas{
    display: grid;
    grid-template-columns: 400px 240px 400px;
    justify-content: center;
}
.grid-placas div{
    background-color: black;
    color: rgba(255, 217, 0, 0.664) ;
    text-align: center;
    border: 2px solid;
}
